body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 500px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #14A44D;
    margin-bottom: 4px;
}

button {
    background: #14A44D;
    color: white;
    padding: 10px 20px;
    border: 1px solid #418493;
    font-weight: bold;
    margin: 3px;
}

#delete-btn {
    color: white;
    background-color: #DC4C64;
}

ol {
    margin-top: 20px;
    padding-left: 10px;
    margin-left: 5px;
    
}

li {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
li:hover {
    opacity: 0.5;
}

a {
    color: #5f9341;
}

.buttons{
    display: flex;
    flex-wrap: nowrapf;
}


.delete-btn {
    
}